@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


.animated-bg {
  background: linear-gradient(-45deg, #3b82f6, #6366f1, #8b5cf6, #2563eb);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}